---
firewall_rules_all:
  - action: "block in"
    comment: "Default drop policy for all incoming traffic"

  - action: "pass in"
    family: "inet"
    proto: "tcp"
    to_port: 22
    comment: "Allow SSH access"

  - action: "pass in"
    family: "inet"
    proto: "udp"
    from_port: 67
    to_port: 68
    comment: "Allow DHCPv4 in"

  - action: "pass in"
    family: "inet6"
    proto: "udp"
    from_port: 547
    to_port: 546
    comment: "Allow DHCPv6 in"

  - action: "pass in"
    family: "inet6"
    proto: "ipv6-icmp"
    options: "icmp6-type 2"
    comment: "PMTUD (Packet too big)"

  - action: "pass in"
    family: "inet6"
    proto: "ipv6-icmp"
    options: "icmp6-type 134"
    comment: "Router advertisement"

  - action: "pass in"
    family: "inet6"
    proto: "ipv6-icmp"
    options: "icmp6-type 135"
    comment: "Neighbor solicitation"

  - action: "pass in"
    family: "inet6"
    proto: "ipv6-icmp"
    options: "icmp6-type 136"
    comment: "Neighbor advertisement"

  - action: "pass out"
    comment: "Default allow policy for all outbound traffic"
