---
firewall_rules_node:
  - action: "pass in"
    family: "inet"
    proto: "udp"
    from_port: 68
    to_port: 67
    comment: "Allow DHCPv4 requests"

  - action: "pass in"
    family: "inet"
    proto: "udp"
    to_port: 69
    comment: "Allow TFTP access"

  - action: "pass in"
    family: "inet"
    proto: "tcp"
    to_port: 5555
    comment: "Allow HTTP access to AI web server"

  - action: "pass in"
    family: "inet"
    proto: "tcp"
    to_port: 5556
    comment: "Allow HTTPS access to AI web server"
